:root {
  --main-primary-color: #ffb400;
  --main-primary-color-2: #111;
  --main-primary-color-3: #2b2a2a;
  --main-primary-color-4: #4b4b4b;
  --main-primary-font-1: Poppins, sans-serif;
  --main-primary-font-2: Open Sans, sans-serif;
}
