* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

@media(max-width: 700px) {
    * {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        max-height: fit-content;
        height: 75%;
    }
}

body {
    text-decoration: none;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(imgs/15.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar {
    background-color: rgb(243, 237, 237) !important;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    color: rgba(248, 248, 248, 0.85);
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.85);
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav.fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}


/* cards*/

.mysection {
    min-height: 75vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(4, 5, 8, 0.85), rgba(4, 9, 30, 0.75)), url(imgs/18.jpg);
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.title1 {
    margin: 0;
    padding: 0;
}

.cards {
    width: 100%;
    height: auto;
    margin: 50px;
    background: rgba(202, 202, 202, 0.5);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.39);
    text-align: center;
    display: inline-block;
    align-items: center;
}

.cards:hover {
    box-shadow: 0 0 20px 10px rgba(194, 27, 27, 0.445);
    background-color: #ff1100a0;
    box-decoration-break: initial;
    color: black;
    bottom: 1px;
    transition: 0.5s;
    transform: scale(1.1);
}

.cards h5 {
    color: rgb(28 36 43);
}

.cards h5:hover {
    color: #000;
}

.cards p {
    color: rgb(35, 33, 33);
}

.btn {
    color: rgba(199, 209, 221, 0.848);
    border: rgb(68, 87, 171);
    background-color: rgb(68, 87, 171);
    text-decoration: none;
}

.card-img-top {
    background-color: rgba(36, 36, 36, 0.637);
    border-radius: 7px;
    height: 250px;
    box-shadow: 0px 0px 15px 0px rgba(14, 14, 14, 0.39);
}

@media(max-width: 700px) {
    .mysection {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 15px;
        width: auto;
        height: auto;
    }
}


/*------ course ------*/

.course {
    min-height: 75vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(4, 5, 8, 0.85), rgba(4, 9, 30, 0.75)), url(imgs/18.jpg);
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.campsh1 {
    color: black;
    width: 50%;
    margin: auto;
    background-color: #f3f2f2ab;
    flex-basis: 31%;
    border: 2px solid rgb(197, 180, 180);
    border-radius: 50px 20px;
    text-align: center;
    justify-content: center;
}

.below-course {
    color: rgb(252, 249, 245);
    padding-top: 30px;
    padding-bottom: 5px;
    margin: 0;
    font-weight: 300;
    font-size: large;
}

p {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.course-col p:hover {
    box-shadow: 0 0 20px 0px rgba(124, 54, 54, 0.813);
    box-decoration-break: initial;
    color: rgba(0, 0, 0, 1.0);
    text-align: center;
    border-radius: 15px;
    transition: 0.5s;
}

.row {
    margin: 35px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: rgba(202, 202, 202, 0.5);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    position: relative;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col h3:hover {
    color: #d14137be;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1.0);
    box-decoration-break: initial;
    color: rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.5s;
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/*------- Our Running Places -------*/

.orp {
    min-height: 75vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(4, 5, 8, 0.85), rgba(4, 9, 30, 0.75)), url(imgs/18.jpg);
    margin: auto;
    text-align: center;
    padding-top: 50px;
    display: inline-block;
    padding-bottom: 0;
}

.orp h1 {
    color: black;
    width: 50%;
    margin: auto;
    background-color: #f3f2f2ab;
    flex-basis: 31%;
    border: 2px solid rgb(197, 180, 180);
    border-radius: 50px 20px;
    text-align: center;
}

.orp h1:hover {
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
    box-decoration-break: initial;
    color: rgba(0, 0, 0, 1.0);
}

.orp-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding-top: 10px;
    text-align: left;
}

.orp-col img {
    width: 100%;
    border-radius: 10px;
}

.orp-col img:hover {
    box-shadow: 0 0 20px 0px rgba(194, 27, 27, 1.0);
    box-decoration-break: initial;
    color: rgba(0, 0, 0, 1.0);
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.8;
}

.pp {
    color: whitesmoke;
    padding: 50px;
    padding-top: 30px;
    margin: auto;
}

.orp-col p {
    padding: 0;
    text-align: center;
    color: whitesmoke;
}

.orp-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    color: whitesmoke;
}


/*----- Our Professional Runners -----*/

.campus {
    min-height: 75vh;
    height: 90%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(4, 5, 8, 0.85), rgba(4, 9, 30, 0.75)), url(imgs/18.jpg);
    margin: auto;
    text-align: center;
    padding-top: 50px;
    display: inline-block;
    padding-bottom: 0;
}

.campus h1 {
    color: black;
    width: 50%;
    margin: auto;
    background-color: #f3f2f2ab;
    flex-basis: 31%;
    border: 2px solid rgb(197, 180, 180);
    border-radius: 50px 20px;
    text-align: center;
}

.campus p {
    color: #fff;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 5px;
}

.campus-col:hover {
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.8;
}

.campus-col img {
    width: 100%;
}

.campus-col img:hover {
    transform: scaleY(1.1);
    transition: 0.5s;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background-position: center;
    width: 100%;
    border-radius: 10px;
    background: rgba(173, 17, 17, 0.596);
    position: absolute;
    max-width: auto;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}


/*------- What Our Runners Says ------*/

.testimonials {
    min-height: 75vh;
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(4, 5, 8, 0.85), rgba(4, 9, 30, 0.75)), url(imgs/18.jpg);
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.testimonials h1 {
    color: black;
    width: 50%;
    margin: auto;
    background-color: #f3f2f2ab;
    border: 2px solid rgb(197, 180, 180);
    border-radius: 50px 20px;
    text-align: center;
}

.testimonials p {
    color: #fff;
}

.row-1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.testimonials-col {
    width: 500px;
    height: 310px;
    padding: 25px;
    margin: 25px;
    float: left;
    border-radius: 10px;
    text-align: left;
    background: #ce98989b;
    align-items: center;
    text-decoration: none;
    position: relative;
    right: 25px;
}

.testimonials-col h3 {
    color: #000;
}

.testimonials-col h3:hover {
    color: #f44336;
    transition: 1s;
}

.testimonials-col img {
    height: 60px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials-col p {
    color: #000;
    padding-top: 20px;
    padding-left: 5px;
}

.testimonials-col h3 {
    margin-top: 15px;
    padding-top: 5px;
    text-align: left;
}

.testimonials-col .fa {
    color: #f44336;
}

@media(max-width: 700px) {
    .testimonials-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}


/*--------- lsat sec ---------*/

.last-sec {
    min-height: 75vh;
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(4, 5, 8, 0.85), rgba(4, 9, 30, 0.75)), url(imgs/18.jpg);
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.last-div h1,
{
    color: #fff;
}


/*------ Call to Action ------*/

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.75)), url(imgs/11.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px) {
    .cta h1 {
        font-size: 24px;
    }
    .row-1 {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


/*------footer------*/

.footer {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o {
    color: #f44336;
}