@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: rgba(45, 45, 45, 0.121);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    border-radius: 0 0 5px 5px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #901235;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: #901235;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: #fff;
}

section {
    padding: 100px 200px;
}


/*   Mine section */

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(imgs/1.jpg) no-repeat;
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #901235;
    font-size: 2em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    text-decoration: none;
    color: #fff;
    background-color: #901235;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #901329;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.social-icons a #linkedin:hover {
    color: #0072b1;
}

.social-icons a #github:hover {
    color: #171515;
}

.social-icons a #instagram:hover {
    color: #fe4164;
}

.social-icons a #whatsapp:hover {
    color: #25D366;
}


/*    services section     */

.title {
    display: flex;
    justify-content: center;
    color: #901235;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.contant {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(249, 240, 240);
    width: 18.25em;
    height: 26em;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.400);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #901235;
    font-size: 8em;
    text-align: center;
}

.card:hover #wordpress {
    color: rgb(0, 138, 192);
}

.card:hover #seo {
    color: rgb(0, 181, 57);
}

.card:hover #code {
    color: rgb(90, 5, 66);
}

.info {
    text-align: center;
}

.info h3 {
    color: #901235;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


/*   Projects  */

.projects {}

.projects .contant {
    margin-top: 50px;
}

.project-card {
    background-color: #fff;
    border: 1px solid white;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.400);
    min-height: 14em;
    width: 19em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .preject-img {
    opacity: 0.9;
}

.preject-img img {
    width: 100%;
    max-height: 200px;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #901329;
}

.more-details:hover {
    color: #000;
}


/*  contact */

.contact .icon {
    font-size: 4em;
}

.contact .info p {
    font-size: 1em;
}

.contacts .card {
    height: 250px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.400);
}


/*  footer  */

.footer {
    background-color: rgba(0, 0, 0, 0.766);
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #901329;
}

.footer-title .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}


/* media */

@media (max-width: 1023px) {
    header {
        padding: 12px 20px;
        display: flex;
        justify-content: space-between;
    }
    .navigation a {
        padding: 10px;
    }
    .title {
        font-size: 1em;
    }
    section {
        padding: 80px 20px;
    }
    .main-content h2 {
        font-size: 1em;
    }
    .main-content h3 {
        font-size: 1em;
    }
    .contant {
        align-items: center;
        flex-direction: column;
    }
    .main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(imgs/1.jpg) no-repeat;
        background-size: cover;
        background-position: -520px;
        background-attachment: fixed;
    }
}

@media (max-width: 641px) {
    header {
        padding: 12px 20px;
    }
    .navigation a {
        padding: 10px;
    }
    .title {
        font-size: 1em;
    }
    section {
        padding: 80px 20px;
    }
    .main-content h2 {
        font-size: 1em;
    }
    .main-content h3 {
        font-size: 1em;
    }
    .contant {
        align-items: center;
        flex-direction: column;
    }
    .main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(imgs/1.jpg) no-repeat;
        background-size: cover;
        background-position: -770px;
        background-attachment: fixed;
    }
}