
body {
margin: 10px;
border: 10px solid tomato;
}
.nahed-img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-size: cover;
	background-image: url("./imgs/nahed photo.jpeg");
}

.hobbieslist {
margin: auto;
width: 50%;

}

h1{

color: black;
text-align: center;
font-family: helvetica;
}
p{
	font-family: helvetica;


}
ul li{
	font-family: helvetica;
	

}
